<!DOCTYPE html>
<html>
<head>
  <title>MicroBlog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!--Rendering message and navigation partial-->
<%= render 'layouts/navigation' %>
<%= render 'layouts/messages' %>

  <!--Add spacing on the left and right-->
  <div class="container">
    <%= yield %>
  </div>
  
  <%= render 'layouts/footer' %>
  
  <!--This will diplay a box with the controller name, action, and id-->
  
</body>
</html>
